<div class="map" style="background-image: url(<%= @flat.picture_url %>)">

</div>


<div class="container margin-top-negative">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="flat-show-card">
        <h1> <%= @flat.name %></h1>
        <p> <%= @flat.address %></p>
      </div>
      <div class="flat-show-card">
        <p> <%= @flat.description %></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="flat-show-card">
        <h2>Book this place!</h2>
        <form>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">From:</div>
              <input type="text" class="form-control" placeholder="12/10/2017">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">To:</div>
              <input type="text" class="form-control" placeholder="18/10/2017">
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Book</button>
        </form>
      </div>
      <div class="flat-show-card">
        <h2> Details</h2>
        <div class="flex">
          <div class="flex-icon">
            <i class="fas fa-user"></i>
            <span> <%= @flat.number_of_guests %></span>
          </div>
          <div class="flex-icon">
            <i class="fas fa-euro-sign"></i>
            <span> <%= @flat.price_per_night %></span>
          </div>
        </div>
      </div>
      <div class="flat-show-card">
        <div class="social-flex">
          <span>Share</span>
          <div class="social-icons">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-twitter-square"></i></a>
            <a href=""><i class="fas fa-envelope-square"></i></a>
            <a href=""><i class="fab fa-pinterest-square"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



